@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fonts */
/* Poppins */
@font-face {
  font-family: "Poppins" sans-serif;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Chopsic" sans-serif;
  src: url("./fonts/chopsic-cdnfonts/Chopsic-K6Dp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
